$bodyfont: 'Open Sans', sans-serif;
$titlefont: 'Merriweather', serif;

$greylight: #F0F0F0;
$blue: #3E6990;
$bluedark: #1D3142;
$bluedarker: #152531;
$green: #8AA460;
$orange: #F39B6D;
$yellow: #E9E3B4;
$text: #737373;

$sidepadding: 7.5rem; 