@import "variables";
@import "base";

@mixin vertical-pad($size) {
	padding-top: $size;
	padding-bottom: $size;
}

// === Reusable

a.button {
	display: inline-block;
	text-transform: uppercase;
	border-radius: 5em;
	color: $blue;
	padding: 0.5em 2em;
	&:not(.button-calltoaction) { border: 0.1em solid $blue; }
	&.button-calltoaction {
		font-weight: 700;
		background: $orange;
		background: linear-gradient(0deg, darken($orange, 10%) 0%, $orange 100%);
		color: #fff;
		padding: 1em 2.5em;
	}
}

span.icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.icon-account { background-image: url("../images/icon-account.png"); }
	&.icon-help { background-image: url("../images/icon-help.png"); }
	&.icon-helm { background-image: url("../images/icon-helm.png"); }
	&.icon-stats { background-image: url("../images/icon-stats.png"); }
	&.icon-diamond { background-image: url("../images/icon-diamond.png"); }
	&.icon-rocket { background-image: url("../images/icon-rocket.png"); }
}

.margin-container {
	$padding: 7.5em;
	padding-left: $padding;
	padding-right: $padding;
}

// === Layout

header {
	> div {
		background-color: $blue;
		height: 9em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	img { width: 12em; }
}

.menu { display: none; }

.search-area {
	form { width: 100%; }
	label {
		color: rgba(#fff, 0.75);
		display: flex;
		align-items: center;
		p { margin: 0; }
		input {
			margin-left: 1em;
			padding: 0.9em 1.5em 0.8em;
			border-radius: 2em;
			width: 21em;
			background-image: url("../images/icon-search.png");
			background-repeat: no-repeat;
			background-position: center right 1.2em;
			background-size: 1.2em;
			box-shadow: inset 1px 1px 5px 1px rgba(#000, 0.2);
			&::placeholder {
				color: rgba(#000, 0.3);
				visibility: hidden;
			}
		}
	}
}

nav {
	background-color: $bluedark;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
	ul {
		margin: 0;
		display: flex;
		> li a {
			padding: 1em 2em;
			display: block;
			color: #fff;
		}
		&.pages {
			color: #fff;
			> li {
				&.current, &:hover {
					a {
						color: $orange;
						background-color: $bluedarker;
					}
				}
			}
		}
		&.icon-list {
			color: $yellow;
			> li {
				a {
					display: flex;
					align-items: center;
					p { margin: 0; }
					span.icon {
						margin-right: 0.5em;
						$iconsize: 1.5em;
						width: $iconsize;
						height: $iconsize;
					}
				}
				&.current, &:hover {
					a { background-color: $bluedarker; }
				}
			}
		}
	}
}

main {
	background-image: url("../images/large/bg-green-lg.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
}

section.banner {
	height: 40em; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	background-image: url("../images/large/banner-lg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $blue;
	background-blend-mode: soft-light;
	margin-bottom: -2.5em;
	$animationduration: 0.8s;
	h1 {
		font-size: 4.5em;
		width: 1200px;
		max-width: 100%;
		animation: slidein $animationduration;
		animation-delay: 0.2s;
		animation-fill-mode: backwards;
	}
	a.button {
		margin-top: 3em;
		margin-bottom: 2.5em;
		padding: 1em 4em;
		animation-name: slidein;
		animation-duration: $animationduration;
		animation-delay: 0.4s;
		animation-fill-mode: backwards;
	}
}

@keyframes slidein {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

section.icon-group {
	display: flex;
	article {
		width: 25%;
		padding: 4em 2.5em 6em;
		text-align: center;
		background-color: #fff;
		span.icon {
			display: inline-block;
			$iconsize: 3.5em;
			width: $iconsize;
			height: $iconsize;
		}
		p { margin: 1.5em 0; }
		a {
			text-transform: lowercase;
			color: $orange;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 700;
			&::before, &::after {
				content: '';
				flex: 1;
				height: 2px;
				background-color: $greylight;
				margin-top: 0.2em;
			}
			&::before { margin-right: 0.75em; }
			&::after { margin-left: 0.75em; }
		}
	}
}

section.quote {
	background-color: $greylight;
	display: flex;
	justify-content: center;
	$verticalmargin: 5em;
	padding-top: $verticalmargin;
	padding-bottom: $verticalmargin;
	position: relative;
	blockquote {
		font-family: $titlefont;
		width: 1150px;
		text-align: center;
		font-size: 1.7em;
		color: $blue;
		font-weight: 400;
	}
	&::before {
		content: '';
		position: absolute;
		top: -2.6em;
		left: 50%;
		transform: translateX(-50%);
		$quotemarksize: 6em;
		width: $quotemarksize;
		height: $quotemarksize;
		background-image: url("../images/quote.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

section.news {
	@include vertical-pad(5em);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	article {
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		h3 {
			color: $bluedark;
			font-size: 1.75em;
			font-weight: 700;
			margin-bottom: 0.25em;
			order: 1;
		}
		.news-image {
			background-color: $blue;
			order: 2;
			img { mix-blend-mode: hard-light; }
		}
		p {
			order: 3;
			&.date {
				color: $green;
				margin-bottom: 0;
			}
			&:not(.date) {
				font-size: 1.2em;
				font-weight: 300;
				margin: 0.2em 0 1em;
			}
		}
		a { order: 4; }
	}
}

section.contact {
	@include vertical-pad(5em);
	padding-bottom: 7em;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		color: $blue;
		font-size: 2em;
		width: 980px;
		max-width: 100%;
		text-align: center;
		margin-top: 0;
	}
}

footer {
	color: $greylight;
	a { color: $greylight; }
	> div {
		&:first-child {
			background-image: url("../images/large/bg-blue-lg.png");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: bottom center;
			background-color: $blue;
			@include vertical-pad(2em);
			padding-bottom: 3em;
			display: grid;
			grid-template-areas:
				"links social"
				"links subscribe";
			grid-template-columns: 2fr 1fr;
		}
		&:last-child {
			background-color: $bluedarker;
			color: #93979b;
			display: flex;
			justify-content: space-between;
			align-items: center;
			button {
				$buttonsize: 4em;
				width: $buttonsize;
				height: $buttonsize;
				background-image: url("../images/icon-up.png");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				position: relative;
				bottom: 2em;
			}
			a {
				text-decoration: underline;
				color: #93979b;
			}
		}
	}
}

ul.footer-links {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	grid-area: links;
	> li {
		margin: 0.6em 0;
		width: 50%;
		a { font-size: 1.1em; }
	}
}

.footer-social {
	display: flex;
	justify-content: flex-end;
	grid-area: social;
	.icon-social {
		width: 4em;
		margin: 0 0.6em; 
	}
}

.footer-subscribe {
	margin-top: 4em;
	grid-area: subscribe;
	p {
		margin: 0;
		font-size: 1.1em;
	}
}

.email-input-area {
	width: 35em;
	$height: 3.3em;
	height: $height;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0.1em;
	border-radius: ($height / 2);
	box-shadow: inset 1px 1px 5px 1px rgba(#000, 0.2);
	margin-top: 0.5em;
	input {
		background-color: transparent;
		flex: 1;
		padding: 0 1.5em 0 2em;
		border-radius: ($height / 2);
		&::placeholder { color: rgba(#000, 0.3); }
	}
	button {
		text-transform: uppercase;
		border-radius: 5em;
		color: #fff;
		font-weight: 700;
		background: $green;
		background: linear-gradient(0deg, darken($green, 10%) 0%, $green 100%);
		padding: 0 2.5em;
	}
}

@import "responsive";